{% extends 'base.html' %}

{% block head %}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
{% endblock %}

{% block main %} 
<h1>Profiles</h1>
{% for profile in profileList%}
 <div class="section"  id="listEntry" >
    <img src="{{url_for('static', filename='/uploads/'+ profile.filename) }}">
    <div class="profileListInfo">
        <p class="bold" >{{ profile.firstname +' ' + profile.lastname}}</p>
        <p> <i class='far fa-user'></i>{{ profile.gender }}</p> 
        <p><i class='fas fa-map-marker-alt'></i>{{ profile.location }}</p>
    </div>
    <form action="{{'/profiles/' + profile.id|string}}">
        <button id="viewProfile">View Profile</button>
    </form>
</div>
<br>
{% endfor %} 
{% endblock %}